{% extends 'shop/base.html' %}

{% block content %}
<div class="text-left">
<a href="{{back}}">Back</a>
</div>
<div class="card">
    <h2>{{object.name | capfirst}}</h2>
    <img src="{{object.image.url}}" alt="item.slug" height="100px" width="100px">
    <p>ID : {{object.id}}</p>
    <p>Color : {{object.color_name}}</p>
    <form action="" method="post">
        {% csrf_token %}
        <table>
        {{form.item_id}}
        <input type="number" name="form.item_quantity.name" min="1" max="999" value="{{form.item_quantity.value}}" >
        </table>
        <button type="submit" class="btn btn-success">Add to cart</button>
    </form>
</div>
{% endblock content %}