{% extends 'shop/base.html' %} 
{% load static %}

<!--Sidebar-->
{% block sidebar %}
<div class="container col-sm bg-light" style="max-width:200px; margin:10px;">
<h4>Filter</h4>
<form action="container">
  {% for f_item in item_types %}
  <div class="form-check">
    <label class="form-check-label">
      <input
        type="checkbox"
        class="form-check-input"
        name="{{f_item.name}}"
        value="checkedValue"
      />
      {{f_item.name}}
    </label>
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Apply</button>
</form>
</div>
{% endblock sidebar %} 
<!--/Sidebar-->

<!--Content-->
{% block content %} 

{% comment %} <link rel="stylesheet" href="{% static 'mystyle.css' %}" /> {% endcomment %}

<!-- Page Content -->
<div style="margin:20px">
  <div class="container">
    <div class="row">
      <!-- Item -->
      {% for item in item_list %}
      <div class="card" style="width: 18rem;">
        <div class="center">
          <!--class card-img-top-->
          <img class="item-img" src="{{item.image.url}}" alt="item.slug">
        </div>
        <div class="card-body">
          <p class="card-text">ID: {{item.id}}</p>
          <p class="card-text">Color: {{item.color_name}}</p>
          <b><a href="{% url 'shop:detail' item.pk%}?back={{request.path}}">{{item.name | capfirst}}</a></b>
        </div>
      </div>
      {% endfor %}
      
    </div>
  </div>
  <!-- /Page Content -->

  <!-- Pagination -->
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
    </span>
  </div>
  <!-- /Pagination -->

</div>

{% endblock content %}
<!--/Content-->