.item{
    border : 1px solid rgb(99, 93, 93);
    padding: 16px;
    margin: 0px;
    float: left;
    width: 200px;
}

.item-img{
    height: 120px;
    width: 120px;
}

.nav-logo{
    height: 30px;
    width: 40px;
    margin-right: 5px;
    margin-left: 5px;
}

.shop-container{
    margin: 10px;
}

.shop-navbar{
    background-color: rgb(108, 173, 208);
    color: #161616;
}

.shop-navlink{
    color: #161616;
}

.shop-navlink:hover{
    color: #853434;
}