.item{
    border : 1px solid rgb(99, 93, 93);
    padding: 16px;
    margin: 0px;
    float: left;
    width: 200px;
}

.item_img{
    height: 120px;
    width: 120px;
}

.nav_logo{
    height: 40px;
    width: 50px;
}